/* CSS file for the criminal card elements (.criminal) in article (.listContainer) */
#button--criminalList {
    font-family: monospace;
    margin: auto;
    padding: 1em;
}

.criminal {
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
    height: auto;
    margin: 1rem;
    min-width: 225px;
    text-transform: capitalize;
    width: 20%;
}

.criminal button {
    display: block;
    margin: auto;
}

.criminal p {
    margin: 1.5px;
}

#listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

#radioDivLabel {
    margin: 0.5px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.antiquewhite {
    background-color: antiquewhite;
}

.coral {
    background-color: coral;
}

.crimson {
    background-color: crimson;
}

.cadetblue {
    background-color: cadetblue;
}

.goldenrod {
    background-color: goldenrod;
}

.darkolivegreen {
    background-color: darkolivegreen;
}

.darksalmon {
    background-color: darksalmon;
}

.darkorchid {
    background-color: darkorchid;
}

.deeppink {
    background-color: deeppink;
}

.fuchsia {
    background-color: fuchsia;
}

.lightgreen {
    background-color: lightgreen;
}

.maroon {
    background-color: maroon;
}

.mediumseagreen {
    background-color: mediumseagreen;
}

.paleturquoise {
    background-color: paleturquoise;
}

.palevioletred {
    background-color: palevioletred;
}

.rebeccapurple {
    background-color: rebeccapurple;
}

.rosybrown {
    background-color: rosybrown;
}

.skyblue {
    background-color: skyblue;
}

.colorKey {
    margin-right: 2rem;
    position: relative;
}

.colorKey p {
    padding-left: 20px;
}

.colorBox {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 21px;
}

#listKeyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 5rem 0 5rem;
}